<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>

<body>
   {{>navbar}}

   <!-- main header -->
   <div class="containter-fluid main_header">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            
            <div class="main_content">
               <form class="temp_form">
                  <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                  <input type="submit" value="search" id="submitBtn">
               </form>
            </div>
            <div class="tempInfo">
               <div class="top_layer">
                  <p id="day">Tuesday</p>
                  <p id="today_date">10 July</p>
                  <p id="today_time">time</p>
               </div>
               <div class="main_layer">
                  <p id="city_name">Get output here</p>
                  <div class="middle_layer data_hide">
                     <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                     <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- footer code -->
   {{>footer}}
   <script src="js/index.js"></script>
   <script>
      const getCurrentData= ()=>{
      let weekday =new Array(7);
      weekday[0] = "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[5] = "Friday";
      weekday[6] = "Saturday";

      let currentTime= new Date();
      let days= weekday[currentTime.getDay()];
      let day = document.getElementById('day');
      day.innerText = days;
      };
      getCurrentData();

      const getCurrentTime= ()=>{
         var now= new Date();
         var hours= now.getHours();
         var mins= now.getMinutes();
         var period= ' AM';
         if(hours >11){
            period= ' PM';
            if(hours > 12){
               hours -= 12;
            }
         }
         if(mins < 10){
            mins = '0' + mins;
         }
         let time= hours + ':' + mins + period;
         let date= document.getElementById('today_time');
         date.innerText= time;
      }
      getCurrentTime();

      const getCurrentDate= ()=>{
         var s= new Date();
         var month= s.getMonth() + 1;
         var day= s.getDate();
         var year= s.getFullYear();
         
         let time= day + "/" + month + "/" + year;
         let date= document.getElementById('today_date');
         date.innerText= time;
      };
      getCurrentDate();
   </script>
</body>
</html>